.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px 20px 20px;
  border-bottom: 1px solid var(--color-bg-muted);
}

.notification:last-child {
  border-bottom: none;
}

.notifdetls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.userName {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 15px;
}

.notiftext {
  color: var(--color-text-primary);
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
}

.dot {
  border-radius: 50%;
  height: 5px;
  width: 5px;
  background-color: var(--color-text-muted);
  margin-left: 10px;
  margin-right: 10px;
}

.duration {
  color: var(--color-text-secondary );
  font-size: 15px;
  font-weight: 500;
}

.notifimg {
  height: 55px;
  width: 75px;
  border-radius: 10px;
}
