/* .royaltyPanel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */

.royaltyPanel {
  padding-block: 10px;
  width: 100%;
  border-radius: 27px;
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.list {
  /* margin-top: 10px; */
  list-style-type: none;
  /* margin-bottom: 20px; */
  /* padding: 10px 30px 0px 0px; */
}

.listIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
}

.listIcon h1 {
  font-size: 17px;
  font-weight: 600;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 18px;
  margin-bottom: 20px;
}

.score span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  padding-bottom: 0px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  border-left: 5px solid var(--color-primary);
  height: 48px;
  margin-bottom: 10px;
}

.score h5 {
  color: #636363;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 0.01;
}

.citation {
  padding-inline: 20px;
  color: #888888;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.citation h4 {
  font-weight: 500;
}
.citation h4:first-of-type {
  padding-right: 5px;
  white-space: nowrap;
}
.second {
  padding-left: 5px;
  color: black;
}

.line {
  margin-top: 14px;
  height: 1px;
  width: 100%;
  background-color: #ececec;
  flex: 1;
}

.infologo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
