.photoname {
  display: flex;
  align-items: center;
}

.uname {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-text-secondary);
  text-decoration: none;
  cursor: pointer;
}
