.contributor {
  display: flex;
  align-items: center;
}


.smalldot {
  border-radius: 50%;
  width: 3px;
  height: 3px;
  background-color: var(--color-text-muted);
  margin-right: 10px;
  margin-left: 10px;
}
