.msgpage {
  display: flex;
  width: 100%;
  /* background: gray; */
  overflow: hidden;
}
.usermsglist-container {
  min-width: 300px;
  width: 25%;
}
.chatbox-container {
  width: 75%;
  /* background: #9e5b5b; */
}
