.msgpage {
  display: flex;
  width: 100%;
}
.usermsglist-container {
  min-width: 300px;
  width: 25%;
  height: 100vh;
}
.chatbox-container {
  width: 71%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}
