.asideNav {
  position: fixed;
}

.navPanel {
  height: 300px;
  width: 200px;
  margin-top: 60px;
  margin-left: 50px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.navPiece {
  width: 100%;
  height: 78px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* justify-content: left; */
  padding: 20px 35px;
  position: relative;
}

.navPiece.active {
  background-color: #ffeae9;
  border-left: 2px solid #f36760;
  border-top: 1px solid rgba(198, 198, 198, 0.25);
  border-bottom: 1px solid rgba(198, 198, 198, 0.25);
}

.navPiece h1 {
  font-size: 15px;
  padding-left: 20px;
}

.navPanelBottom {
  height: 120px;
  width: 200px;
  margin-top: 100px;
  margin-left: 50px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bottomBorder {
  position: relative;
}

.bottomBorder::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 15%;
  height: 1px;
  background-color: rgba(198, 198, 198, 0.25);
}
