.skill {
  border: 1px solid var(--color-border-muted);
  height: 36px;
  background: var(--color-bg-muted-transparent);
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.15px;
  text-align: left;
  color: var(--color-text-secondary);
}
