.header {
  width: 100%;
  height: var(--headerHeight);
  background: var(--color-bg-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: calc(var(--side-margin) + 74px);
}

.icon {
  display: flex;
}

.icon img {
  width: 92px;
  height: 50px;
}

.search-box {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}

.search-box img {
  position: absolute;
  height: 28px;
  padding-left: 20px;
}

.search-box input {
  border: none;
  background: var(--color-textarea);
  width: 430px;
  height: 50px;
  font-size: 16px;
  border-radius: 27.93px;
  opacity: 0px;
  padding-left: 55px;
  outline: none;
}

.search-box input::placeholder {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;

  text-align: left;
  color: var(--color-text-secondary);
}
