.follow-list {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 10;
}
.follow-list.view {
  display: block;
}
.follow-list-content {
  position: relative;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  /* padding: 20px; */
  padding-top: 0;
  border-radius: 18px;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  width: 35%;
  height: 550px;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  overflow: hidden;
}
/* .follow-list-header {
  border-radius: 18px 18px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  flex-direction: column;
} */
/* .follow-list-details {
  height: 100%;
  width: 100%;
  border-radius: 0 0 18px 18px;
  overflow: hidden;
} */
.head{
font-size: 20px;
font-weight: 600;
}
.follow-list-content .py-3{
  overflow-y: scroll;
  overflow-x: hidden;
}