.followersBox {
  width: 100%;
  margin-top: 10px;
  padding: 20px 20px 10px 20px;
  border-radius: 27px;
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.titlespace {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titlespace span {
  font-size: 17px;
  font-weight: 600;
}

.countcircle {
  background-color: #bababa;
  border-radius: 50%;
  border: 2px solid white;
  height: 20px;
  width: 20px;
  color: #ffffff;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.followerlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.userdetls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.userpic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.userName {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 10px;
}

.userName h4:first-of-type {
  font-weight: 500;
  color: #000000;
}

.uname {
  font-weight: 400;
  color: #9b9b9b;
}

.viewmore {
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

.viewmore a {
  font-size: 14px;
  font-weight: 500;
  color: black;
  border-bottom: 1px solid black;
}
