.newpost {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  height: 88px;
  background: rgba(255, 255, 255, 1);
  margin-block: 20px;
  border-radius: 18px;
  padding: 10px;
  position: sticky;
  top: 20px;
  box-shadow: 0 -60px 0 0 var(--color-bg-grey);
  -webkit-box-shadow: 0 -60px 0 0 var(--color-bg-grey);
  -moz-box-shadow: 0 -60px 0 0 var(--color-bg-grey);
  border: 2px solid var(--color-bg-grey);
}
.post-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 60.58px;
  height: 60.58px;
  border-radius: 30.29px;
  margin-inline: 20px;
}
.post-profile img {
  width: 60.58px;
  height: 60.58px;
  border-radius: 30.29px;
}
.input-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60.58px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  color: rgba(198, 198, 198, 1);
  cursor: pointer;
}
.postbtn-container {
  width: 135px;
  margin-right: 10px;
}
