@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.App {
  text-align: center;
}

:root {
  --tableBorderRadius: 10px;
  --borderGrey: rgb(163, 163, 163);
  --darkGrey: rgb(81, 81, 81);
  --containerMargin: 70px;
  --navbarHeight: 70px;
  --headerHeight: 86px;
  --color-primary: #f36760;
  --color-secondary: #ffeae9;
  --side-margin: 50px;
  --color-bg-grey: rgba(243, 243, 243, 1);
}

#root {
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  background-color: #f3f3f3;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - var(--headerHeight));
}

.main-container .center-container,
.main-container .info-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container .center-container {
  overflow-y: scroll;
  height: 100%;
  width: 700px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.center-container::-webkit-scrollbar {
  display: none;
}

.main-container .info-panel {
  margin-right: var(--side-margin);
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 40px;
  flex-shrink: 0;
}

.btn {
  border-radius: 27.93px;
  display: flex;
  align-items: center;
  justify-content: center;
}
